<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</head>
<body>
<div id="editor"></div>
<script th:src="@{https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js}"></script>
<script>
    const Editor = toastui.Editor;

    const editor = new Editor({
        el: document.querySelector('#editor'),
        height: '600px',
        initialEditType: 'markdown',
        previewStyle: 'vertical',

    });
    editor.addHook("addImageBlobHook", function(blob, callback){
        // blob 텍스트
        console.log(blob)

        // !!!!! 여기서 이미지를 받아와서 이미지 주소를 받아오고 (ajax 등으로)
        // callback의 인수로 넣으시면 됩니다.
        callback("콜백으로 받아온 이미지 URL")
    })
    // 텍스트 가지고 오기
    console.log(editor.getMarkdown())
</script>
</body>
</html>